---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import "../Styles/style_home.css";
import InteractiveCard from "../components/interactiveCard.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
  title="LRS-Plattform"
  description="Kostenlose Online-Übungen für Kinder und Erwachsene mit LRS."
>
  <div
    class="relative isolate overflow-hidden bg-light dark:bg-dark py-24 sm:py-32"
  >
    <img
      src="./bilder/desk.jpg"
      alt=""
      class="absolute inset-0 -z-10 size-full object-cover object-right md:object-center filter blur-md dark:brightness-50"
    />
    <div
      class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl"
      aria-hidden="true"
    >
      <div
        class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#10008b] to-[#06b8ff] opacity-50"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
      >
      </div>
    </div>
    <div
      class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu"
      aria-hidden="true"
    >
      <div
        class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#257cec] to-[#15e9d7a1] opacity-60"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
      >
      </div>
    </div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2
          class="text-5xl font-semibold tracking-tight text-dark dark:text-light sm:text-7xl justify-center"
        >
          Willkommen auf Lernuvo
        </h2>
        <p
          class="mt-8 text-pretty text-lg font-medium text-dark dark:text-light sm:text-xl/8"
        >
          Haben Sie oder hat jemand in Ihrer Familie Schwierigkeiten mit dem
          Lesen und Schreiben? Ob Kind oder Erwachsener – hier sind Sie genau
          richtig! Unsere Plattform bietet kostenlose, interaktive Übungen, die
          speziell entwickelt wurden, um Menschen mit Lese-Rechtschreib-Schwäche
          (LRS) zu unterstützen.
        </p>
        <!-- Buttons -->
        <div class="mt-8 flex gap-4 justify-center lg:justify-start">
          <a
            href="#"
            class="inline-block px-6 py-3 bg-primary text-light font-semibold text-lg rounded-lg shadow-lg hover:scale-105 hover:bg-primary/90 transition-all"
          >
            Jetzt loslegen
          </a>
          <a
            href="#"
            class="inline-block px-6 py-3 bg-secondary text-dark font-semibold text-lg rounded-lg shadow-lg hover:scale-105 hover:bg-secondary/80 transition-all"
          >
            Mehr erfahren
          </a>
        </div>
      </div>
    </div>
  </div>
</Layout>
